$main-purple: #9b59b6;
$main-gray: #c2c2c2;
$matched: #2ecc71;
@import url('https://fonts.googleapis.com/css?family=Krub:400,700');

html {
    font-family: 'Krub', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100vh;
    background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
}

body {
    margin: 0;
    position: absolute;
    width: 100%;
}

button {
    cursor: pointer;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $main-purple;

    color: #fff;

    .game-statistics {
        display: flex;
        justify-content: space-around;
        width: 100%;
        text-align: center;
    }

    #retry-button {
        display: flex; 
        align-items: flex-end;
        font-size: 1.25rem;
        i {
            background-color: #1e3c72;
            padding: 20px;

            &:hover {
                cursor: pointer;
                color: #1e3c72;
                background-color: #fff;
            }
        }
    }
}

main {
    margin: 8px 25px;
}

#board {
    margin-top: 20px;
    display: grid;
    grid-gap: 25px;
    justify-items: center;
    grid-template-columns: repeat(1, 1fr);
    
    @media (min-width: 220px) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media (min-width: 340px) {
        grid-template-columns: repeat(3, 1fr);
    }
    @media (min-width: 580px) {
        grid-template-columns: repeat(5, 1fr);
    }

    div.card {
        position: relative;
        height: 100px;
        width: 100%;
        border: 1px solid $main-purple;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        background-color: $main-purple;
        transition: all 0.3s ease;
        cursor: pointer;
        &.face-down {
            i:not(.fa-certificate) {
                opacity: 0;
            }
            &:hover {
                transform: scale(1.1);
                border: 2px solid #fff;
            }
        }
        &.face-up {
            box-shadow: -5px 5px 2px;
            cursor: initial;
            background-color: $main-gray;
            border-color: $main-gray;
            transform: rotateY(180deg);
            i.fa-certificate {
                opacity: 0;
                transition: opacity .5s;
            }
            &.matched {
                background-color: $matched;
                border-color: $matched;
                cursor: initial;
            }
        }
        i.fas {
            position: absolute;
        }
    }
}

.modal-container {
    z-index: -1000;
    background-color: rgba(0, 0, 0, .6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    display: flex;
    justify-content: center;
    &.opened {
        z-index: 1000;
        opacity: 1;
    }
}

.modal {
    position: fixed;
    opacity: 0;
    transition: all 0.3s ease-out;
    transform: scale(1.3);
    top: 20%;
    width: 80vw;
    height: 30vh;
    background-color: #1e3c72;
    display: flex;
    justify-content: center;
    z-index: 2000;
    &.opened { 
        opacity: 1;
        transform: scale(1);
    }
    .modal-content {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        h2 {
            text-align: center;
            color: #fff;
        }

        .buttons-container {
            display: flex;
            justify-content: space-around;

            button {
                padding: 20px;
                border-radius: 5px;
                color: #fff;
                &.accept {
                    background-color: #27ae60;
                    &:hover {
                        background-color: #0c6330;
                    }
                }
                &.decline {
                    background-color: #c0392b;
                    &:hover {
                        background-color: #72150a;
                    }
                }
            }
        }
    }
}   